
    <div class="container-home bg-dark-custom ">
      <div class="glass-material">
        <div class="text-center p-5">
          <div class="row-custom">
            <div class="col">
              <div class="img-profile">
                  <img src="../../assets/img/6397170.jpg" alt="">
              </div>
            </div>
            <div class="col">
              <div class="card-section">
                  <div *ngFor="let elemento of elementos"  class="card border-secondary mb-3 bg-dark-card" style="max-width: 18rem;">
                      <div class="card-header text-white">Header</div>
                      <div class="card-body text-secondary">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
