.bg-dark-custom{
    background-image: url("../../assets/img/backsvg.svg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
}

.glass-material{
    /* From https://css.glass */
    background: rgba(11, 10, 10, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border: 1px solid rgba(11, 10, 10, 0.3);
    margin: 0.5rem;
}

.row-custom{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.img-profile{
    display: grid;
    align-items: center;
    justify-content: center;
}

.img-profile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem , 1fr));
    grid-gap: 0.8rem;
    justify-items: center;
    align-items: center;
}

.bg-dark-card{
    background: rgba( 0, 5, 3, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media (max-width: 415px) {
    .card-section{
        gap: 1rem;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(10rem , 1fr));
        margin-top: 2rem;
    }

    .row-custom{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .card-section{
        gap: 1rem;
        justify-items: center;
        margin-top: 2rem;
    }

    .row-custom{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .card-section{
        gap: 1rem;
        justify-items: center;
        margin-top: 2rem;
    }

    .row-custom{
        display: flex;
        flex-direction: column;
    }
}
