@import url(https://fonts.googleapis.com/css?family=Righteous);

.card-text{
    text-align: justify;
}

.bg-dark-custom{
    background-image: url("../../assets/img/tipo2.svg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
}

.glass-material{
    background: rgba( 8, 7, 7, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    margin: 2rem 0.6rem 1rem 0.6rem;
}

.row-custom{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.img-profile{
    display: grid;
    align-items: center;
    justify-content: center;
}

.img-profile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem , 1fr));
    grid-gap: 0.8rem;
    justify-items: center;
    align-items: center;
}

.bg-dark-card{
    background: rgba( 0, 5, 3, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
}

.container-home{
    width: 100%;
    margin-top: 60px;
}

.col .title{
    color: white;
    padding-bottom: 1.5rem;
    font-weight: 700;
    text-align: start;
    margin-left: 1.4rem;
}

.text-purple{
 color: #ff007a;
}

.container-description{
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    margin-top: 1rem;
    padding: 1rem;
    width: max-content;
    text-align: start;
    width: 300px;
    background: rgba( 8, 7, 7, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
}

.description a{
    text-decoration: none;
}

.description p{
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
}

.description i{
    margin-left: 1rem;
    margin-right: 0.9rem;
}

.text-name{
    padding: 1rem;
    background: rgba( 8, 7, 7, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    margin-top: 1rem;
    font-family: 'Righteous', serif; 
    font-size: 1.5rem;
}

.card-profile{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.herramienta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img-herramienta{
    
}

.text-herramienta p{
    font-size: 1.7rem;
}

.img-herramienta img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.card-conocimiento{
    background: rgba( 8, 7, 7, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
}

.card-conocimiento .info-area{
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card-conocimiento .info-img{
    grid-column: 1 / 2;
    grid-row: 2/4;
    align-self: center;
    padding: 1rem;
}

.card-conocimiento .info-img img{
    height: 3rem;
    width: 3rem;
    object-fit: contain;
}

.card-conocimiento .info-tecnology{
    grid-column: 2 / 5;
    grid-row: 2/4;
    align-self: center;
    color: white;
}

.card-conocimiento .info-tecnology .description-tec{
    font-size: 12px;
}

.code-color-green , .code-color-orange 
, .code-color-red , .code-color-blue {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    grid-column: 4/5;
    justify-self: end;
    align-self: center;
}

.card-conocimiento .code-color-green{
    background-color: rgb(4, 218, 4);
}

.code-color-orange{
    background-color: rgb(255, 136, 0);
}

.code-color-red{
    background-color: red;
}

.code-color-blue{
    background-color: rgb(5, 42, 255);
}


@media (max-width: 415px) {
    .card-section{
        gap: 1rem;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(10rem , 1fr));
        margin-top: 2rem;
    }

    .row-custom{
        display: flex;
        flex-direction: column;
    }

    .img-profile img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .text-name{
        padding: 0.5rem;
        font-size: 0.6rem;  
    }

    .col .title{
        text-align: center;
        font-size: 1rem;
    }

    .card-profile{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .card-text{
        text-align: start;
    }
}

@media (max-width: 600px) {
    .card-section{
        gap: 1rem;
        justify-items: center;
        margin-top: 2rem;
    }

    .row-custom{
        display: flex;
        flex-direction: column;
    }

    .img-profile img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .text-name{
        font-size: 1.3rem;  
    }

    .col .title{
        text-align: center;
        font-size: 1.2rem;
    }

}

@media (max-width: 900px) {
    .card-section{
        gap: 1rem;
        justify-items: center;
        margin-top: 2rem;
    }

    .row-custom{
        display: flex;
        flex-direction: column;
    }

    .col .title{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .card-m{
        margin-top: 2rem;
    }    
    
}
